<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to FleckMerchandise</title>
    <link rel="stylesheet" href="/static/PRI.css">
</head>

<body>
    <header class="nav_main">
        <div class="logo_main">
            <img src="/static/Logo.png" alt="Logo">
        </div>
        <div class="head_main">
            <h1> FleckMerchandise </h1>
            <div style="clear:both"></div>
        </div>
        <nav class="nav_main">
            <ul>
                <li><a href="/spareparts/"> Home </a></li>
                <li><a href="/spareparts/Collection"> Collection </a></li>
                <li><a href="/spareparts/Create"> Add an Item </a></li>
                <li><a href="/spareparts/About"> About </a></li>
                <li><a href="/spareparts/Contact"> Contact </a></li>
                <li><a href="/spareparts/Payment"> Payment </a></li>
                <li><a href="/login/">Sign in</a></li>

            </ul>
        </nav>
    </header>
    <main class="collection-container">
        <section>
            <div class="product-search-wrap">
		    {%if search %}
		<form type="get" action="." style="margin: 0">
    		<input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    		<button id="search_submit" type="submit" >Search</button>
		</form>
		     {%endif%}
		<!--    <input type="text" name="" id="txt-prod-search" placeholder="Enter the product to search" />--!>
            </div>
            <div class="product-grid product-grid--flexbox">
                <div class="product-grid__wrapper">
                    <!-- Product list start here -->
		    {% if item_list %}
			{% for item in item_list %}
                    <!-- Single product -->
                    <div class="product-grid__product-wrapper">
                        <div class="product-grid__product">
                            <div class="product-grid__img-wrapper">
				    <img src={{item.photo.url}} alt="Img" class="product-grid__img" />
                            </div>
			    <span class="product-grid__title">{{item.name}}</span>
			    <span class="product-grid__price">{{item.price}}€</span>
                            <div class="product-grid__extend-wrapper">
                                <div class="product-grid__extend">
					<p class="product-grid__description">{{item.description}}</p>
                                    <span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Add to cart</span>
                                    <span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i> View more</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Single product -->
			{% endfor %}
			{% else %}
			<p> No products available </p>
			{% endif %}

            </div>
            </div>
        </section>
        <aside>

        </aside>

    </main>

</body>

</html>
